.logoutbtn{
    background-color: var(--black);
    color: var(--blue);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 30;
}
.logoutbtn:hover,
.homebtn:hover{
    filter: brightness(150%);
}
.homebtn{
    background-color: var(--black);
    color: var(--blue);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 30;
}