*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}

:root{
   --blue: #08D9D6;
   --black: #252A34;
   --red: #FF2E63;
   --gray: #EAEAEA;
}

.signup-page-container{
    display: inline-block;
    height: 80vh;
    width: 80vw;
    position: relative;
}

.signup-page{
    height: 100%;
    width: 50%;
    display: flex;
    background-color: var(--red);
    align-items: center;
    justify-content: center;
}

.signup-center{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;

}

.signup-heading-container{
    height: 80px;
    font-size: 3rem;
    line-height: 80px;
    color: var(--gray);
}

.signup-form-container{
    height: 60%;
    width: 15ch;
    font-size: 3rem;
}

.signup-form{
    height: 120%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.susername-container, .spassword-container, .semail-container, .spassword-confirm{
    background-color: var(--gray);
    height: 3.5rem;
    width: 100%;
    position: relative;
    line-height: 0;
    overflow: hidden;
}
.susername-container{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.susername-container input,
.spassword-container input,
.semail-container input,
.spassword-confirm input{
    height: 70%;
    width: 100%;
    position: absolute;
    outline: none;
    top: 30%;
    font-family: 'DM Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-left: 6px;
    background: none;
    border: none;
}

.susername-container label,
.spassword-container label,
.spassword-confirm label,
.semail-container label{
    font-size: 1rem;
    position: absolute;
    left: 6px;
    opacity: 1;
    top: 20%;
    font-family: 'DM Sans', sans-serif;
    transform: translateY(-50%);
}

.submit{
    height: 3.5rem;
    width: 100%;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: none;
    top: 10px;
    font-size: 1.5rem;
    background-color: var(--gray);
    right: 10px;
    line-height: 0;
    bottom: 5px;
    cursor: pointer;
    box-shadow: 10px 5px 1px var(--black);
    transition: ease 0.5s;
}

.submit:hover{
    box-shadow: 0px 0px 0px var(--black);
    right: 0px;
}

.visible{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    right: 0;
    height: 100%;
    width: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.visible:hover{
    background-color: var(--black);
    color: var(--gray);
}

.message1{
    position: absolute;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    color: var(--gray);
    top: 30px;
    font-weight: bolder;
    padding: 0 30px;
    font-family: var(--san-fam);
    background-color: var(--black-blur);
    z-index: 25;
    overflow: hidden;
    backdrop-filter: blur(10px);
    bottom: 100px;
}

.message1 .bar{
    content: "";
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    background-color: var(--gray-blur);
    animation: widthcover 1s ease forwards;
}
@keyframes widthcover {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
